body {
  width: 300px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

input {
  margin-bottom: 10px;
  padding: 4px;
}

#filter {
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

#filter label {
  margin-bottom: 5px;
}
#filterTypeSelect,
#filterInput {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#filterInput {
  width: 256px;
  margin: 0 auto;
}

#filterInputLabel {
  display: block;
  margin-top: 10px;
}

.tag-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.tag {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 10px 60px 15px 10px;
  margin: 0 10px 10px 0;
  font-size: 15px;
  line-height: 15px;
  display: inline-block;
  position: relative;
}

.regex {
  background-color: lightblue;
}

.tag button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 20px;
  height: 20px;
  padding: 0;
  position: absolute;
  font-size: 10px;
  line-height: 15px;
  font-family: sans-serif !important;
  color: white;
  transition: background-color 0.3s;
}

button.remove {
  background-color: red;
  right: 10px;
}

button.edit {
  background-color: blue;
  right: 35px;
}

button.remove:hover {
  background-color: darkred;
}

button.edit:hover {
  background-color: darkblue;
}

#filter {
  width: 100%;
  margin-bottom: 10px;
}

#dismissButton {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#dismissButton:hover {
  background-color: darkred;
}

.header-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.button-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.button-icon {
  filter: brightness(0) invert(1);
}

footer {
  text-align: right;
  margin-top: 20px;
  font-size: 12px;
  color: #666;
  font-weight: bold;
}

footer a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #333;
}

#heartIcon {
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
